:root {
    --dark-brown:#47433d;
    --light-brown: #d4c0a0;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--light-brown);
    font-size: 16px;
    font-family: sans-serif;
}

.container {
    display: grid;
    height: 100vh;
    width: min(1000px, 80vw);
    grid-template-rows: 10vh 1fr;
    margin: 0 auto;
    
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 25px;
}

header > h1 {
    margin: 0;
    color: var(--dark-brown);
    font-size: 3rem;
}

button#new-book {
    font-size: 1rem;
    font-weight: 600;
    padding: 10px 20px;
    border-radius: 20px;
    border: 3px solid var(--dark-brown);
    color: var(--dark-brown);
    background-color: var(--light-brown);
}

button#new-book:hover {
    background-color: var(--dark-brown);
    color: var(--light-brown);
}

button#new-book:active {
    opacity: 0.9;
}

.books {
    margin-bottom: 2vh;
    padding: 30px;
    box-shadow: rgb(43, 42, 42) 0px 0px 10px;
    background-color: #fff;

    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(250px,1fr));
    align-content: start;
    gap: 12px;
}

.book-card {
    padding: 12px;
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    justify-content: start;
    box-shadow: black 5px 5px;
}

.title,
.author,
.total-pages,
.read-status {
    overflow-wrap: break-word;
    font-family: 'Times New Roman', Times, serif;
}

.book-card > p:first-of-type{
    margin-top: 20px;
    margin-bottom: 5px;
}

.card-btns {
    margin-top: 20px;
    display: flex;
    gap: 5px;
    justify-content: end;
}

.card-btns button {
    padding: 10px;
    border: 1px solid #000;
    background-color: #000;
    color: #fff;
    box-shadow: #a1a1a1 1px 1px 5px;
}
